.App {
  text-align: center;
  /* background-color: gray; */
  position: absolute;
  width: 100%;
  height: 100%
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.app-name {
  font-size: 95px;
  font-style: italic;
}

.App-link {
  color: #61dafb;
}

.ipfs-image {
  max-width: 50%;
  height:auto;
}

.account-name:hover {
  color: blue;
}

.hash-text {
  color: white;
  /* background: rgb(141, 141, 189); */
  font-weight: bold;
  margin: 10px;
}

.ethereum-account-selector {
  /* padding: 20px; */
  width: 100%;
  display: flex;
  z-index: 2;
  background-color: rgb(163, 162, 162);
}

.left {
  float: left;
}

.right {
  float: right;
}

.dropdown {
  width: 50%;
  padding: 5px;
  /* margin-left: 25%; */
}

.select-account-label {
  padding-left: 20%;
}

.app-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ipfs-inbox-container {
  width: 600px;
  display: table-cell;
}

.ipfs-messaging-container {
  display: table-cell;
}

.content {
  width: 80%;
  float: right;
}

.copy {
    cursor: pointer;
    /* padding: 7px; */
    margin-top: 5px;
    margin-left: 5px;
    font-size: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.copy:hover {
    color: blue;
}


.copy:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.copy:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.copy-alert {
  position: absolute !important;
  margin-top: 3px !important;
  margin-left: 53% !important;
  font-size: 10px;
}

.contract-icon-container {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-top: 2px;
  margin-left: 550px;
}

.render-view-container {
  width: 80%;
  float: right;
}