.verified {
    color: green;
}

.not-verified {
    color: red;
}

.upload-type-selector {
    display: inline-flex;
}

.upload-container {
    
}

.upload-selection-container {
    display: inline-flex;
}