.profile-container {
    height: 100%;
    /* display: grid;
    grid-template-columns: 100px auto; */
}

.user-data-container {
    font-size: 50px;
    float: left;
    display: contents;
}

.public-uploads-container {
    margin-top: 100px;
}