.inbox-container {
    display: grid;
}

.delete:hover {
    color: red;
}

.button {
    background: none;
    border: none;
    color: black;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.download:hover {
    color: rgb(8, 31, 243);
}

.inbox-list-container {
    padding: 20px;
}

tr:hover {
    background: rgb(142, 194, 218);
}

.select-view-button {
    margin: 2px;
    height: 50px;
}

.upload-button {
    height: 50px;
}