.verified {
    color: green;
}

.not-verified {
    color: red;
    margin: 20px;
}

.upload-type-selector {
    display: block;
}

.upload-container {
    height: 100%;
}

.upload-selection-container {
    /* display: flex; */
}

.account-container {
    margin: 55px;
}

.clear-btn {
    width: 100px;
    height: 45px;
    margin: 10px;
}

.send-message-container {
    width: 60%;
}

.button-dropdown {
    margin: 0px !important;
    height: 50px;
}

.clear-upload {
    color: red;
    margin-left: 10px;
}