.file-upload-button {
    height: 50px;
}

.file-chooser {
    display: none;
}
 
.file-chooser-label {
    background: rgb(109, 143, 255);
    margin: 30px;
    padding: 16px;
    border-radius: 10px;
    float: left;
}

.file-chooser-label:hover {
    cursor: pointer;
}

.upload-container {
    margin-top: 20px;
    height: 100%;
}

.clear-upload:hover {
    cursor: pointer;
}

.upload-button {
    margin: 30px;
    height: 50px;
}
