.verified {
    color: green;
}

.not-verified {
    color: red;
}

.upload-type-selector {
    display: block;
}

.upload-container {
    height: 100%;
}

.upload-selection-container {
    /* display: flex; */
}

.clear-btn {
    width: 100px;
    height: 45px;
}

.send-message-container {
    width: 60%;
}