.sidebar-container {
    background-color: rgba(241, 241, 241, 0.74);
    width: 20%;
    height: 100%;
    position: absolute;
}

.sidebar-button-container {
    padding-top: 100px;
    display: grid;
}

.sidebar-button-container > div > input {
    width: 80%;
    height: 10%;
    padding: 30px 30px 30px 0px;
    background: none;
    border: none;
    font-size: 1em;
}

.sidebar-icon {
    margin-left: 10px;
    padding-right: -5px;
}

.sidebar-button-container > input:hover {
    color: blue;
}

.sidebar-item:hover {
color: blue;
font-style: bold;
}