.header {
    float: left;
    width: 100%;
}

.header-container-main {
    background-color: rgb(23, 20, 26);
    color: white;
    height: 130px;
}

.left-container {
    /* position: absolute; */
    display: table;
    width: 40%;
    margin: 0px;
    float: left;
}

.nav-buttons {
    /* display: table-cell; */
    margin-top: 55px;
}

.nav-buttons > button {
    border: none;
    background: none;
    color: white;
    font-size: 30px;
    margin: 20px;
}

.nav-buttons > button:hover {
    border-bottom: 5px solid white;
}

.header-container-main-details {

    font-size: 20px;
    float: right;
    flex-grow: 1;
    margin-right: 10px;
    margin-top: 0px;
}

/* .hamburger-container {
    float: right;
    width: 100%;
    font-size: 40px;
} */

.alias-display-container {
    display: inline-flex;
    margin-top: 90px;
    float:right;
    width: 100%;
    font-size: 25px;
}

.header-container-secondary {
    background: gray;
    display: flex;
    justify-content: space-between;
}

.account-selector-container {
    margin-top: 8px;
    margin-left: 8px;
    float: left;
    background-color: white;
    border-radius: 25px;
}

.accounts-container {
    /* margin-top: 10px; */
}

.copy {
    float: left;
}

.copy-container {
    margin-left: 8px;
    margin-bottom: 2px;
    float: right;
}

.contract-icon-container {
    /* float: right;
    flex-grow: 1; */
}

.contract-icon {
  font-size: 25px;
  margin-top: 5px;
}

.copy-alert {
    margin-left: 35%;
    height: 45px;
    position: absolute !important;
}

.account-container {
    padding: 15px;
}

.edit-icon {
    margin: 6px;
}

.edit-icon:hover {
    color: blue;
}