.about-details-container {
    margin: 50px;
}

.eye {
    margin-top: 30px;
    margin-left: 46.5%;
    /* margin: 100px; */
    width: 100px;
    height: 100px;
    border: solid 1px #000;
    border-radius:  75% 15%;
    position: relative;
    transform: rotate(45deg);
}
.eye:before {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border: solid 1px #000;
    border-radius: 50%;
    left: 24px;
    top: 24px;
    background: rgb(30, 70, 179);
}