.display-name {
    /* float: left; */
}

.remove-button {
    /* float: right; */
    margin-left: 60%;
}

.search-box-container {
    margin-bottom: 20px;
}

.selection-container {
    margin-top: 20px;
}

.share-button {
    float: right;
    margin-right: 50px;
}